.navbar-brand{
    background-image: url('../Images/LightLogo.png');
    width: 180px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-link{
    font-family: customFont1;
    font-weight: 500;
    font-size: large;
    letter-spacing: 3px;
    margin-left: 20px;
}

@font-face {
    font-family: customFont1;
    src: url('../../containers/DashboardComp/CSS-Fonts/Font1/ProtestStrike-Regular.ttf');
}